In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
telco_churn_df = pd.read_csv('Telco-Customer-Churn.csv')

In [3]:
telco_churn_df.shape

(7043, 21)

In [4]:
telco_churn_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
telco_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
telco_churn_df["Churn"].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [7]:
telco_churn_df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [8]:
telco_churn_df.corr()

                SeniorCitizen    tenure  MonthlyCharges
SeniorCitizen        1.000000  0.016567        0.220173
tenure               0.016567  1.000000        0.247900
MonthlyCharges       0.220173  0.247900        1.000000

In [9]:
telco_cat = telco_churn_df.select_dtypes(include = 'object').copy().drop(columns=['customerID', 'Churn', 'TotalCharges'])

catfeatures_stats = pd.DataFrame(columns = ['column', 'values', 'unique_values', 'missing'])

tmp = pd.DataFrame()
#print(telco_cat.columns)

for c in telco_cat.columns:
    #print(c)
    tmp['column'] = [c]
    tmp['values'] = [telco_cat[c].unique()]
    tmp['unique_values'] = int(telco_cat[c].nunique())
    tmp['missing'] = telco_cat[c].isnull().sum()
    catfeatures_stats = catfeatures_stats.append(tmp)
    
catfeatures_stats

,column,values,unique_values,missing
0,gender,"[Female, Male]",2,0
0,Partner,"[Yes, No]",2,0
0,Dependents,"[No, Yes]",2,0
0,PhoneService,"[No, Yes]",2,0
0,MultipleLines,"[No phone service, No, Yes]",3,0
0,InternetService,"[DSL, Fiber optic, No]",3,0
0,OnlineSecurity,"[No, Yes, No internet service]",3,0
0,OnlineBackup,"[Yes, No, No internet service]",3,0
0,DeviceProtection,"[No, Yes, No internet service]",3,0
0,TechSupport,"[No, Yes, No internet service]",3,0
0,StreamingTV,"[No, Yes, No internet service]",3,0
0,StreamingMovies,"[No, Yes, No internet service]",3,0
0,Contract,"[Month-to-month, One year, Two year]",3,0
0,PaperlessBilling,"[Yes, No]",2,0
0,PaymentMethod,"[Electronic check, Mailed check, Bank transfer...",4,0

In [10]:
from pandas_profiling import ProfileReport
prof = ProfileReport(telco_churn_df)
prof.to_file(output_file='telco_churn_profile.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]